.flexSection{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    min-height: 500px;
}
.infoText{
    text-align: center;
    height: 4rem;
    font-size: 1.25rem;
}
.card{
    border: 1px solid black;
    padding: 20px 0 40px 0;
    text-align: center;
}
.card > *{
    margin: 20px 0;
}
.btn{
    padding: 10px;
    width: 140px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
}
.blue{
    background-color:  #0099ff;
    color: white;
}
.blue:hover{
    background-color: #008ae6;
}
.green{
    background-color: #04AA6B;
    color: white;
}
.green:hover{
    background-color: #059862;
}
.options{
    font-size: 1.25rem;
}
.question{
    font-size: 3rem;
    height: 5.5rem;
}